
.container, .searchContainer {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid red;
}

.wallimg {
    position: absolute;
    left: 50%;
}

.wframe {
    height: 500px;
    width: 100%;
    max-width: 900;
    /* height="551" width="705" */
    position: absolute;
}