@keyframes appendElement{
    0% {
      opacity:0;
      transform:  translate(0px,10px);
    }
    100% {
      opacity:1;
      transform:  translate(0px,0px);
    }
  }

footer {
    background-color: #00000057;
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.61);
    font-size: 20px;
    font-family: Righteous;
}

.footer {
    bottom: 25%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 100%;
    max-width: 200px;
}

#obutton {
    bottom: 25%;
    left: 0;
    right: 0;
    margin: 0;
    position: absolute;
}

#bgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -99;
}

button:focus, input:focus {
    outline: none;
}

body {
    
    transition: 0.5s;
    background-attachment: fixed;
}

h1 {
    padding: 10px;
    font-size: 7vw;
}

#blood, #mid {
    font-family: Molengo;
    color: #ffffff;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.788);
}

#hound {
    font-family: Indie Flower;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.767);
    color: #ffffff;
}

.wallpaper {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    transition: 0.5s;
}

#search, #submit, #close {
    border: none;
}

#search, .tt-hint {
    padding-left: 12px;
    padding-right: 55px;
}

#search, .tt-hint, .tt-menu {
    padding: 8px;;
    border-radius: 15px;
    border: 1px solid rgb(128, 128, 128);
    width: 25vw;
    min-width: 300px;
    box-shadow: 1px 1px 10px #000000a2;
    transition: 0.5s;
}

.tt-menu {
    background-color: #ffffff7c;
    text-align: left;
    transition: 0.5s;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #6d4100;
    background-color: #ffc17a9f;
    border-radius: 5px;
    transition: 0.3s;
}

#search:hover {
    box-shadow: 0px 0px 8px #ffffffa8;
}

#search:focus {
    box-shadow: 0 0 8px #ffffff;
}

#submit {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 6px 10px;
    border-radius: 15px;
    background-color: #6d4100;
    font-size: 15px;
    transition: 0.5s;
    position: relative;
    bottom: -7px;
    height: 36px;
    margin-left: -65px;
}

#submit:hover {
    text-shadow: 0 0 7px #008cff;
    box-shadow: 0 0 7px #008cff;
}

#submit:active {
    text-shadow: 0 0 7px #00ffc8;
    color: #00576d;
    box-shadow: 0 0 7px #00ffc8;
}

#close {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#close {
    padding: 10px 20px;
    transition: 0.5s;
}

#submit:hover, #close:hover {
    cursor: pointer;
}

.searchContainer {
    text-align: center;
    padding-bottom: 15px;
    transition: 0.5s;
}

.searchContainer1 {
    position: absolute;
    margin: auto;
    top: 35%;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

.searchContainer2 {
    top: 1;
    position: sticky;
    transition: 0.5s;
}

.frontpage {
    margin: 5%;
    width: 50%;
    padding-left: 15%;
    transition: 0.5s;
}

.container {
    transition: 0.5s;
}

.wallimg {
    position: absolute;
    left: 50%;
}

.wikiTitle {
    font-weight: Bold;
    font-size: 4vw;
}

.wikiThumb {
    float: right;
    border-radius: 15px;
    box-shadow: 1px 1px 7px #000000;
    margin-left: 15px;
}

#title:hover {
    cursor: pointer;
}

.clearfix {
    overflow: auto;
}

.wframe {
    height: 700px;
    width: 98%;
    /* height="551" width="705" */
    opacity: 0.9;
    margin: auto;
    border: 1px solid #00000080;
    box-shadow: 1px 1px 10px #000000;
    padding: 8px;
    transition: 0.5s;
    border-radius: 8px;
}

.searchmatch {
    font-weight: bold;
}

.articles {
    padding: 10px;
    margin-bottom: 1%; 
}

.wframe {
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: #e7e7e798;
    scrollbar-track-color: #00000077;
    scrollbar-highlight-color: #ffffffd0;
}

.wikiDesc, iframe, .searchVid {
    animation: appendElement linear .3s;
    animation-iteration-count: 1;
}

.wikiDesc {
    border-radius: 8px;
    background-color: #ffffff75;
    padding: 20px;
    border: 1px solid #00000080;
    box-shadow: 2px 2px 10px #000000;
}

.wikiDesc:hover {
    cursor: pointer;
}

.videos {
    border-radius: 8px;
    margin: 2%;
    margin-left: 1%;
    margin-right: 1%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    border: 2px solid #00000080;
    box-shadow: 2px 2px 10px #000000;
}

.searchVid {
    display: inline-block;
    margin-top: 2px;
    margin: 5px;
    border: 1px solid #00000080;
    border-radius: 15px;
    box-shadow: 1px 1px 7px #000000;
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #00000088;
}

::-webkit-scrollbar-thumb {
    background-color: #e7e7e798;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffffffd0;
    box-shadow: 0 0 7px #00ffdd98;
}

.side {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #00000077;
    overflow-x: hidden;
    padding-top: 60px;
  }

  .side a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #838383;
      display: block;
  }

  .side a:hover {
      color: #fffdfd;
  }

  .side .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
  }

  .news {
    padding: 20px;
  }

  .newsImg {
    width: 100%;
    max-width: 500px;
    max-height: 250px;
    object-fit: cover;
    object-position: 50% 40%;
    display: block;
    float: right;
    border-radius: 15px;
    box-shadow: 1px 1px 7px #000000;
    margin-left: 15px;
  }

  .newsArt {
    border-radius: 8px;
    background-color: #ffffff75;
    border: 1px solid #00000080;
    box-shadow: 2px 2px 10px #000000;
    padding: 10px;
  }

a {
    text-decoration: none;
    padding: 10px;
}

a:visited {
    text-decoration: none;
}

h4 {
    font-size: 2em;
    font-weight: bold;
    color: #000000;
}

h5 {
    font-size: 2vw;
    font-style: italic;
    float: right;
    color: #000000;
}

.pubDate {
    font-style: italic;
    background-color: #00000093;
    width: 100%;
    max-width: 160px;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    padding: 1px;
}

.author {
    font-size: 20px;
    font-style: italic;
    color: rgb(144, 238, 144);
    padding-bottom: 5px;
    color: #ffffff;
}

.artDesc {
    padding-top: 20px;
    color: #000000;
}